
<div class="jumbotron">
	
		<h1>Welcome to Mazel Munch</h1>
		<p>Experience the world through food!</p>
</div>
<div class="container">
  <div id="featured-headline">
  <h1>Featured Recipes</h1>
  </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag("falafel.jpg")%>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
          </div>
        </div>
      </div>
       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag("hummus.jpg")%>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
          </div>
        </div>
      </div>
       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag("pita.jpg")%>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
  </div>

